body{
  background-color: cadetblue;
}

#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.data-table{
  thead{
    th{
      text-align: center;
    }
  }
  tbody{
    td{
      vertical-align: middle;
      text-align: center;
    }
  }
}

.controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.title{
  margin-bottom: 20px;
  margin-top: 20px;
}


*{
  padding: 0;
  box-sizing: border-box;
}
